body {
  background-color: orangered;


 
}

.principal {

 
}

.carousel-inner{
  width: 80%;
  height: 80%;
}
.carousel-inner h1 {
  color: antiquewhite;
  
}

.carousel-inner h2 {
  color: antiquewhite;
  
}

.col-10 p {

  
  color: orangered;
}

p a {
  /* text-align: center;
  text-decoration: none;
  color: orangered;
  bottom: unset; */

  /* adicional */

  text-decoration: none;
  
  font-weight: 600;
  font-size: 20px;
  color: orangered;
  padding-top: 8px;
  padding-bottom: 19px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}

p a.active {
  background-color: #04aa6d;
  color: orangered;
}

p a:hover:not(.active) {
  background-color: rgb(255, 107, 53);
  color: white;
  border-color: white;
}

