

header {
  
  background-color: rgb(255, 153, 0);
  text-align: center;
  display:grid;
  align-content: center;


}

footer {
  
  padding: 0.2%;
  color: white;
  text-align: center;
  background-color: rgb(0, 110, 255);
}

ul li a.active {
 
  color: white;
} 

ul li a:hover:not(.active) {
background-color: #555;
color: white;
}

body, html {
  height: 100%;
  padding: 0; /* ¿por qué, carousel, por qué? */
}
.carousel {
  height: 66.67%;
  margin-bottom: 0; /* ¿por qué, carousel, por qué? */
}
.carousel-inner, .carousel-inner > .item, .carousel-inner > .item > img {
  height: 100%;
}